<div class='card'>
  <div class='card-header'>
    {{title}}
  </div>

  <div class='card-body'>
    <div class='row'>
      <div class='col-md-2'>Filter By:</div>
      <div class='col-md-4'><input type="text" [(ngModel)]='listFilter'/></div>
    </div>  
    <div class='row'> 
       <div class='col-md-4'>Filter By:{{listFilter}}</div></div>
       <table class='table-responsive' *ngIf="filteredProduct && filteredProduct.length">
         <thead>
           <tr>
             <th><button class='btn btn-primary'
              (click)=toggleImageButton()>{{showImage?'Hide' :'Show'}} image</button></th>
             <th>Product:</th>
             <th>Code:</th>
             <th>Description:</th>
             <th>Availability:</th>
             <th>Price:</th>
             <th>5 Star Rating:</th>
           </tr>
         </thead>
         <tbody>
           <tr *ngFor='let product of filteredProduct'>
             <td><img  *ngIf='showImage' [src]='product.imageUrl'[title]='product.productName' [style.width.px]='imageWidth'[style.margin.px]='imageMargin'></td>
           <td>
              <a [routerLink]="['/products', product.productId]">
                {{ product.productName }}
              </a>
           </td>
           <td>{{product.productCode | lowercase | convertToSpaces:'-'}}</td>
           <td>{{product.description}}</td>
           <td>{{product.releaseDate}}</td>
           <td>{{product.price | currency:'USD':'symbol':'1.2-2'}}</td>
           <td><pm-star [rating]='product.starRating'></pm-star></td>
           </tr>
         </tbody>
       </table>

  </div>    
          
</div>